@import "variables";
@import "mixins";

.feature {
  padding: 5rem 0;
}

.title {
  margin-bottom: 2.5rem;
  font-size: clamp(2rem, 4vw, 2.5rem);
  color: $purple;
  text-transform: uppercase;
  text-align: center;
}

.cards {
  @include flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.single-card {
  padding: 5rem 2rem;
  @include flex;
  position: relative;
  flex-direction: column;
  flex: 1 1 20rem;
  background-color: $white;
  box-shadow: $box-shadow;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  transition: all 0.5s;
  z-index: 0;
  &:hover{
    z-index: 1;
    transform: scale(1.05);
    border: 1px solid $pink;
  }
}

.card-img {
  // min-width: 40%;
  img{
    width: 100%;
  }
}

.card-title {
  margin-top: 1rem;
  text-transform: capitalize;
}

.card-content {
  margin: 2.5rem 0;
}

