@mixin extra-large {
  @media only screen and (max-width: 1280px){
    .navbar{
      padding: 2.5rem 5%;
    }
  }
}

@mixin large {
  @media only screen and (max-width: 1090px){

    .banner-title{
      font-size: 4rem;
    }

    .navbar{
      flex-direction: column;
      align-items: flex-start;
    }
  
    .nav-links{
      display: none;
      width: 100%;
      text-align: center;
      ul{
        flex-direction: column;
        width: 100%;
        li{
          margin-top: 5px;
          width: 100%;
          a{
            margin: 0;
          }
        }
      }
    }
    
    .toggle-button{
      display: flex;
    }
  
    .nav-links.active{
      display: flex;
    }
  
  }
}

@mixin medium {
  @media only screen and (max-width:800px){
  
    body{
      text-align: center;
    }
  
    .container{
      padding: 0 2%;
    }
    
    .navbar{
      padding: 1rem 2%;
    }
    
    .toggle-button{
      top: 25px;
    }
    
    .banner{
      flex-flow: column-reverse;
    }
  
    .about-title{
      text-align: center;
    }
  
    .button-container{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .btn{
      margin: 0;
      margin-top: 1rem;
    }
  
  }
}

@mixin mobile {
  @media only screen and (max-width:530px) {

    .banner-title{
      font-size: 3rem;
    }
    
    .about-title{
      font-size: 2rem;
    }
  }
}

@mixin mobile-small {
  @media only screen and (max-width:430px){
    .banner-title{
      font-size: 2.5rem;
    }
  }
}