@import "variables";

.review{
  padding: 10rem 0 5rem 0;
}

.right-quote{
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 5rem;
  color: $pink;
  opacity: .6;
}

.review-img{
  img{
    border-radius: 50%;
  }
}