$purple: #814096;
$pink: #f83292;
$dark-pink: #dc2c81;
$white: #fff;
$black: #000;
$light-black: #333;
$background: #f9f9f9;

$gradient: linear-gradient(90deg, $purple, $pink);
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);